.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 5vh 5vw;
}

.code {
  padding: 10px;
  background-color: black;
  color: #00FF01;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55vw;
  font-size: calc(1px + 2vmin);
}